@font-face {
    font-family: 'Benton Sans';
    src: url('../fonts/BentonSans-Thin.eot');
    src: url('../fonts/BentonSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BentonSans-Thin.woff2') format('woff2'),
        url('../fonts/BentonSans-Thin.woff') format('woff'),
        url('../fonts/BentonSans-Thin.ttf') format('truetype'),
        url('../fonts/BentonSans-Thin.svg#BentonSans-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Benton Sans';
    src: url('../fonts/BentonSans-ExtraLight.eot');
    src: url('../fonts/BentonSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BentonSans-ExtraLight.woff2') format('woff2'),
        url('../fonts/BentonSans-ExtraLight.woff') format('woff'),
        url('../fonts/BentonSans-ExtraLight.ttf') format('truetype'),
        url('../fonts/BentonSans-ExtraLight.svg#BentonSans-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Benton Sans';
    src: url('../fonts/BentonSans-Light.eot');
    src: url('../fonts/BentonSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BentonSans-Light.woff2') format('woff2'),
        url('../fonts/BentonSans-Light.woff') format('woff'),
        url('../fonts/BentonSans-Light.ttf') format('truetype'),
        url('../fonts/BentonSans-Light.svg#BentonSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Benton Sans';
    src: url('../fonts/BentonSans-Book.eot');
    src: url('../fonts/BentonSans-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BentonSans-Book.woff2') format('woff2'),
        url('../fonts/BentonSans-Book.woff') format('woff'),
        url('../fonts/BentonSans-Book.ttf') format('truetype'),
        url('../fonts/BentonSans-Book.svg#BentonSans-Book') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Benton Sans';
    src: url('../fonts/BentonSans-Regular.eot');
    src: url('../fonts/BentonSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BentonSans-Regular.woff2') format('woff2'),
        url('../fonts/BentonSans-Regular.woff') format('woff'),
        url('../fonts/BentonSans-Regular.ttf') format('truetype'),
        url('../fonts/BentonSans-Regular.svg#BentonSans-Regular') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Benton Sans';
    src: url('../fonts/BentonSans-Medium.eot');
    src: url('../fonts/BentonSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BentonSans-Medium.woff2') format('woff2'),
        url('../fonts/BentonSans-Medium.woff') format('woff'),
        url('../fonts/BentonSans-Medium.ttf') format('truetype'),
        url('../fonts/BentonSans-Medium.svg#BentonSans-Medium') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Benton Sans';
    src: url('../fonts/BentonSans-Bold.eot');
    src: url('../fonts/BentonSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BentonSans-Bold.woff2') format('woff2'),
        url('../fonts/BentonSans-Bold.woff') format('woff'),
        url('../fonts/BentonSans-Bold.ttf') format('truetype'),
        url('../fonts/BentonSans-Bold.svg#BentonSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Benton Sans';
    src: url('../fonts/BentonSans-Black.eot');
    src: url('../fonts/BentonSans-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BentonSans-Black.woff2') format('woff2'),
        url('../fonts/BentonSans-Black.woff') format('woff'),
        url('../fonts/BentonSans-Black.ttf') format('truetype'),
        url('../fonts/BentonSans-Black.svg#BentonSans-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

// TiemposText

@font-face {
    font-family: 'Tiempos Text';
    src: url('../fonts/TiemposText-Regular.eot');
    src: url('../fonts/TiemposText-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TiemposText-Regular.woff2') format('woff2'),
        url('../fonts/TiemposText-Regular.woff') format('woff'),
        url('../fonts/TiemposText-Regular.ttf') format('truetype'),
        url('../fonts/TiemposText-Regular.svg#BentonSans-Regular') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Text';
    src: url('../fonts/TiemposText-Medium.eot');
    src: url('../fonts/TiemposText-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TiemposText-Medium.woff2') format('woff2'),
        url('../fonts/TiemposText-Medium.woff') format('woff'),
        url('../fonts/TiemposText-Medium.ttf') format('truetype'),
        url('../fonts/TiemposText-Medium.svg#BentonSans-Medium') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Text';
    src: url('../fonts/TiemposText-Semibold.eot');
    src: url('../fonts/TiemposText-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TiemposText-Semibold.woff2') format('woff2'),
        url('../fonts/TiemposText-Semibold.woff') format('woff'),
        url('../fonts/TiemposText-Semibold.ttf') format('truetype'),
        url('../fonts/TiemposText-Semibold.svg#BentonSans-Black') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Text';
    src: url('../fonts/TiemposText-Bold.eot');
    src: url('../fonts/TiemposText-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TiemposText-Bold.woff2') format('woff2'),
        url('../fonts/TiemposText-Bold.woff') format('woff'),
        url('../fonts/TiemposText-Bold.ttf') format('truetype'),
        url('../fonts/TiemposText-Bold.svg#BentonSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}



