@import "variables.scss";
@import "fontfaces.css";
@import "~bootstrap";

/* ---------- Global --------- */
// All this is to make the footer sticky to the bottom.
html, body, #app { height: 100%; }
body, #app { display: flex; flex-direction: column; }
main { flex: 1 0 auto; margin-bottom: 8rem;}
footer { flex-shrink: 0; }

body {
  background-color: $white;
  display: flex;
  flex-direction: column;
  font-family: "C";
  font-size: 1rem;
  color: $gray-900;
  letter-spacing: -0.1px;
}

a {
  text-decoration: none;
}

a:active {
  position: relative;
  top: 2px;
}

@include media-breakpoint-up(xs) {
  html {
    font-size: 1.15rem;
  }
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.1rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}

/* ---------- Navbar --------- */
.navbar {
  min-height: 128px;
  padding: 2rem 0;
  background-image: linear-gradient(-180deg, #020202 0%, #121212 100%);
  background-color: #121212;
  margin-bottom: 1rem;
}

.landing-hero > header > .navbar {
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.64) 0%, rgba(0, 0, 0, 0) 100%);
  background-color: transparent;
}

.navbar .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
  letter-spacing: 0.2px;
  font-family: "SFM";
  font-weight: 500;
  font-size: .875rem;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
}

@media (max-width: 991px) {
  .navbar-brand {
    margin-left: 1rem;
  }
  
  .navbar-toggler {
    margin-right: 1rem;
  }
}

/* ---------- Footer --------- */
footer {
  // background-color: #121212;
  min-height: 256px;
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-image: linear-gradient(-180deg, #020202 0%, #121212 100%);
  font-family: "C";
  font-size: .875rem;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 1.4;
}

footer .list-inline-item:not(:last-child) {
  margin-right: 0.25rem;
}

/* ---------- Typography --------- */
.text-right-then-left   { text-align: right;	}
@media (max-width: 767px) { .text-right-then-left   { text-align: left;   } }
.text-right-then-center   { text-align: right;	}
@media (max-width: 767px) { .text-right-then-center   { text-align: center; } }

.about p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.lead {
  font-weight: 400;
}

.display-1 {
  font-family: "C";
  font-weight: 700;
  font-size: 3.25rem;
  color: #FFFFFF;
  letter-spacing: -0.2px;
  line-height: 4rem;
  margin-bottom: 1rem;
}

.display-2 {
  font-weight: 700;
  font-size: 3rem;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.display-3 {
  font-weight: 500;
  font-size: 2rem;
  color: #FFFFFF;
  margin-bottom: 1rem;
}

.display-4 {
  font-weight: 600;
  font-size: 1rem;
  color: #121212;
  letter-spacing: -0.3px;
  margin-bottom: 1rem;
}

h1, .h1 {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0;
}

h2, .h2 {
  font-family: "C";
  font-weight: 700;
  font-size: 1.75rem;
  letter-spacing: 0;
  line-height: 2.5rem;
}

h3, .h3 {
  font-family: "C";
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0;
  line-height: 2rem;
}

h4, .h4 {
  font-size: .8125rem;
  font-weight: 600;
  color: $primary;
  letter-spacing: 1.5px;
  line-height: 1.25rem;
  text-transform: uppercase;
}

h5, .h5 {
  font-family: "SFM";
  font-weight: 600;
  color: $primary;
  font-size: .875rem;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  line-height: 1.125rem;
}

h6, .h6 {
  font-family: "C";
  font-weight: 700;
  font-size: .875rem;
  letter-spacing: -0.1px;
  line-height: 1.125rem;
  margin-bottom: .25rem;
}

small, .small {
  font-size: 87.5%;
  font-weight: normal;
}

.text-wide {
  letter-spacing: 1.5px;
}

.text-muted {
  color: transparent;
  opacity: 0.33;
}

.text-italic {
  font-family: "C";
  font-weight: 500;
  font-style: italic;
}

blockquote {
  margin: 1rem 0 1.5rem;
  background-color: $gray-100;
  padding: 1.25rem 2rem .5rem;
  font-style: italic;
}

blockquote {
  p {
    margin-bottom: 1rem !important;
  }

  p:last-of-type {
    font-style: normal;
    font-weight: 500;
    font-size: .875rem;
  }
}

pre {
  font-size: 72%;
  color: $link-color;
  background-color: $gray-100;
  padding: 1rem;
}

/* ---------- Buttons --------- */
.btn {
  font-family: "SFM";
  font-weight: 700;
  font-size: .875rem;
  line-height: .875rem;
  letter-spacing: 0;
  text-align: center;
  padding: 12px 1.5rem;
  border-radius: 4px;
  color: $white;
}

.btn-xs {
  font-size: .6875rem;
  font-weight: 700;
  padding: 4px 1rem 3px;
}

.btn-sm {
  font-size: .8125rem;
  font-weight: 700;
  padding: 8px 1.5rem 7px;
}

.btn-lg {
  font-size: 1rem;
  padding: 16px 2rem;
}

.btn-outline,
.btn-outline:hover {
  background-color: transparent;
}

.btn-outline.btn-primary {
  color: $primary;
}

.btn-outline.btn-success {
  color: $success;
}

.btn-highlight {
  color: $gray-900;
}

.btn-secondary {
  color: $gray-800;
  background-color: $gray-200;
  border-color: $gray-200;
}

.btn-link {
  color: $link-color;
}

/* ---------- Breadcrumbs --------- */
.breadcrumb {
  background: transparent;
  text-transform: uppercase;
  font-family: "SFM";
  font-size: 12px;
  letter-spacing: 0.4px;
  border-radius: 0;
  border-top: 1px solid $gray-200;
  border-bottom: 1px solid $gray-200;
  padding: .5rem 1rem;
  margin-bottom: 2rem;
  padding-left: 0;
}

.divider {
  border-bottom: 1px solid $gray-200;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* ---------- Badges --------- */
.badge {
  font-family: "SFM";
  font-weight: 600;
  font-size: .5625rem;
  color: #333333;
  letter-spacing: 0.2px;
  text-align: center;
  text-transform: uppercase;
  padding: 4px 8px 4px;
  border-radius: .2rem;
}

/* ---------- Landing Page --------- */
.landing-hero {
  background-image: url('/images/hero-bg3.jpg');
  background-size: cover;
  background-position: center 20%;
}

.landing-hero .navbar {
  background-color: rgba(255, 255, 255, 0) !important;
  min-height: 128px;
  margin-bottom: 0;
}

.landing-badge {
  word-break: keep-all;
  display: inline-block;
  padding-right: 96px;
  position: relative;
}

.landing-badge > .badge {
  position: absolute;
  top: 28px;
  right: 8px;
}

.landing-hero .btn {
  min-width: 192px;
}

.landing-hero .display-1 {
  font-size: 3.5rem;
  line-height: 1.33;
}

.resume-earlybird {
  background: #0775ED;
  padding-top: 6rem;
  padding-bottom: 8rem;
}

.resume-earlybird .display-3 {
  font-family: 'SFM';
  font-size: 1.5rem;
  line-height: 1.4;
}

.resume-spartz {
  background-image: radial-gradient(circle at top center, #444 0%, #121212 100%);
  padding-top: 4rem;
  padding-bottom: 6rem;
}

@media (min-width: 1200px) {
  .landing-hero .display-1 {
    max-width: 960px;
  }
}

@media (max-width: 512px) {
  .landing-badge > .badge {
    position: absolute;
    top: 12px;
    right: 0;
  }

  .landing-hero .display-1 {
    font-size: 2rem;
  }

  .landing-hero .btn {
    min-width: 100%;
  }

  .resume-spartz .display-2,
  .resume-earlybird .display-2 {
    font-size: 2.25rem;
  }

  .resume-spartz .display-3,
  .resume-earlybird .display-3 {
    font-size: 1.4rem;
    line-height: 1.25;
  }
  
  .resume-earlybird, 
  .resume-spartz {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

/* ---------- Company Page --------- */
.hero {
  background: $primary;
  min-height: 16rem;
  display: flex;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}

/* ---------- Blog --------- */
.skinny-contain {
  max-width: 768px;
}

.box {
  border: 1px solid $gray-200;
  padding: 2rem;
  font-family: "SFM";
  font-size: .875rem;
  letter-spacing: 0;
  line-height: 1.5;
  margin-bottom: 2rem;
  position: relative;
  border-radius: 0.5rem;
}

.box h3 a {
  color: $gray-900;
}

.box h3 a:hover {
  color: $link-color;
}

@media (max-width: 767px) {
  .box {
    padding: 2rem;
  }
}

.blog-time {
  font-size: .75rem;
  font-family: "SFM";
}

.blog-post {
  font-size: 1.25rem;
  line-height: 1.5;
}

.blog-post p {
  margin-bottom: 1.5rem;
}

.blog-post h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.blog-post h2 {
  margin-top: 3rem;
}

.blog-post h3 {
  margin-top: 2rem;
}

.blog-post img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blog-post figure {
  margin-bottom: 2rem;
}

figcaption {
  font-size: .9125rem;
  color: #777;
  text-align: center;
}

.portfolio-post p {
  font-size: 1.25rem;
}

.portfolio-post img {
  margin-bottom: 1rem;
  border: 1px solid $gray-100;
}

/* ---------- Contact Page --------- */

.form-control,
.form-control:focus {
  font-family: "SFM";
  font-size: .875rem;
  height: 48px;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: .5rem;
}

textarea.form-control {
  min-height: 256px;
}

.form-group label {
  font-weight: 600;
}

.wpcf7 .screen-reader-response {
  display: none;
}

.wpcf7-mail-sent-ok {
  font-size: .8125rem;
  line-height: 1.6;
  padding: 6px 16px;
  border-radius: .25rem;
  margin-bottom: 1rem;
  color: $white;
  font-family: "SFM";
  font-weight: 600;
  background-color: $primary;
  margin-bottom: 1rem;
}

/* ---------- Siri Shortcuts Page --------- */
.box.shortcuts {
  background-color: #fcfcfc;
  border: 1px solid $gray-400;
  border-radius: 0.5rem;
  min-height: 256px;
  padding: 1.5rem;
  color: $black;
}

.box.shortcuts:hover {
  border: 1px solid #2AC9FF;
  color: #2AC9FF;
  text-decoration: underline;
  text-decoration-color: #2AC9FF;
}

/* ---------- Dark Mode Styles --------- */

@media (prefers-color-scheme: dark) {
  body {
    color: $white;
    background-color: $gray-900;
  }

  .breadcrumb {
    border-top: 1px solid $gray-800 !important;
    border-bottom: 1px solid $gray-800 !important;
  }

  .box a {
    color: $white !important;
  }

  .box, .form-control {
    border: 1px solid $gray-800;
  }

  .form-control,
  .form-control:focus,
  .form-control::placeholder {
    color: $white;
  }

  .divider {
    border-bottom: 1px solid $gray-800 !important;
  }

  .portfolio-post img {
    border: none !important;
  }

  blockquote, pre {
    background-color: $black !important;
  }
  
  .box.shortcuts {
    background-color: #161616;
    border: 1px solid $gray-800;
    color: $white;
  }

  .box.shortcuts:hover {
    border: 1px solid #2AC9FF;
    color: #2AC9FF;
  }
}

// Contact Form 7 Styling Fixes

.grecaptcha-badge {
  visibility: hidden !important;
}

.wpcf7-response-output {
  border: none !important;
  padding: .5rem 1rem !important;
  margin: 1.5rem 0 1.5rem !important;
  border-radius: 0.5rem;
}

.wpcf7-validation-errors, .wpcf7-acceptance-missing {
  border: 1px solid #f00 !important;
}