/* ---------- Bradstrap v4 Global Updates --------- */
// 8pt Grid System
$grid-gutter-width:     32px !default;
$container-max-widths:  (sm: 544px, md: 736px, lg: 960px, xl: 1168px) !default;
$grid-breakpoints:      (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px) !default;

// 8pt Spacers Extended
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
0: 0,
1: ($spacer * .25), 2: ($spacer * .5),   3: ($spacer * 1),   4: ($spacer * 1.5),
5: ($spacer * 2),   6: ($spacer * 2.5),  7: ($spacer * 3),   8: ($spacer * 3.5),
9: ($spacer * 4),   10: ($spacer * 4.5), 11: ($spacer * 5),  12: ($spacer * 6),
13: ($spacer * 8),  14: ($spacer * 10),  15: ($spacer * 12), 16: ($spacer * 16)
), $spacers);

// Updating Base Colors (I don't believe in false greys.)
$white:    #fff !default;
$gray-100: #f8f8f8 !default; $gray-200: #eeeeee !default; $gray-300: #dddddd !default;
$gray-400: #cccccc !default; $gray-500: #555555 !default; $gray-600: #666666 !default;
$gray-700: #555555 !default; $gray-800: #333333 !default; $gray-900: #212121 !default;
$black:    #000 !default;

/* ---------- Site Specific Variables Updates --------- */

// Colors
$blue:      #0d6efd !default;
$indigo:    #6610f2 !default;
$purple:    #6f42c1 !default;
$pink:      #d63384 !default;
$red:       #dc3545 !default;
$orange:    #fd7e14 !default;
$yellow:    #ffc107 !default;
$green:     #28a745 !default;
$teal:      #20c997 !default;
$cyan:      #17a2b8 !default;

$primary:   $blue !default;
$secondary: $gray-600 !default;
$success:   $green !default;
$info:      $cyan !default;
$warning:   $yellow !default;
$danger:    $red !default;
$light:     $gray-100 !default;
$dark:      $gray-800 !default;

// Links
$link-color:  $primary !default;
$link-hover-color:  darken($link-color, 15%) !default;

// Navbar
$navbar-light-color:                $gray-800;
$navbar-light-hover-color:          $link-color;
$navbar-light-active-color:         $link-color;
$navbar-light-disabled-color:       rgba($gray-800, .3);
$navbar-light-toggler-border-color: transparent;

// Typography
