/* ---------- Dark Mode Styles --------- */
body[dark-mode] {
  color: var(--color-neutral-lightest);
  background-color: var(--color-neutral-darkest);

  a:not(.btn) {
    color: var(--color-neutral-lightest);
  }

  hr {
    color: var(--color-neutral-800);
  }

  .text-primary {
    color: var(--color-primary-400) !important;
  }

  footer {
    border-top-color: var(--color-neutral-800);
    background-color: var(--color-neutral-1000);
  }

  .footer-social a {
    color: var(--color-neutral-lightest);
  }

  .navbar-glass {
    color: var(--color-neutral-lightest);
  }
  
  .navbar-glass .btn {
    color: var(--color-neutral-lightest);
  }

  .navbar-glass a:hover,
  .navbar-glass .btn:hover,
  .navbar-glass .btn:active {
    color: var(--color-neutral-lightest);
    background-color: var(--color-neutral-800);
  }

  .glass-inner {
    background: transparent;
    box-shadow: 0 0 24px 0 rgba(0,0,0,0.48);
    border: 1px solid var(--color-neutral-900);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
    border-radius: 12px;
    padding: 0;
  }
  
  .glass-filter {
    z-index: 0;
    backdrop-filter: blur(6px);
    filter: url(#lensFilter) saturate(111%) brightness(.56);
  }
  
  .glass-overlay {
    z-index: 1;
    background: rgba(0, 0, 0, 0.25);
  }
  
  .glass-specular {
    z-index: 2;
    border: 1px solid var(--color-neutral-900);
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.0),
      inset 0 0 6px rgba(255, 255, 255, 0.0);
  }

  .breadcrumb {
    color: var(--color-neutral-500);
  }

  .divider {
    border-bottom: 1px solid var(--color-neutral-300);
  }

  .portfolio-post img {
    border: none;
  }

  blockquote, pre {
    background-color: var(--color-neutral-900);
  }

  .btn-outline-dark {
    color: var(--color-neutral-lightest);
    border-color: var(--color-neutral-lightest);
    background-color: transparent;
  }

  .btn-outline-dark:hover {
    color: var(--color-neutral-darkest);
    border-color: var(--color-neutral-lightest);
    background-color: var(--color-neutral-lightest);
  }

  .btn-primary:disabled, .btn-primary.disabled {
    opacity: 1;
  }

  .jobs img, img.oam, img.logo {
    filter: brightness(0) invert(1);
  }

  img.logo-govos {
    content: url('../images/govos-logo-dark.svg');
  }

  .portfolio img {
    border: none;
  }

  .case-study {
    border-top: 1px solid var(--color-neutral-800);
    border-bottom: 1px solid var(--color-neutral-800);
  }
  
  .case-study.govos {
    background-color: var(--color-neutral-1000);
  }

  .case-study.govos img {
    content: url('../images/govos-design-system-casestudy-dark.png');
  }
  
  .case-study.nielsen {
    background-color: var(--color-neutral-1000);
  }

  .case-study.nielsen img {
    content: url('../images/nielsen-design-system-casestudy-dark.png');
  }
}