/* ---------- Dark Mode Transitions --------- */
body,
body a,
body footer,
body .navbar-glass,
body .navbar-glass .btn,
body .glass-inner,
body .glass-overlay,
body .glass-specular,
body .breadcrumb,
body .divider,
body .blog-card,
body blockquote,
body pre,
body .btn-outline-dark,
body .case-study,
body hr,
body code,
body .text-primary,
body figcaption {
  transition: 
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

/* ---------- Dark Mode Styles --------- */
body[dark-mode] {
  color: var(--color-neutral-lightest);
  background-color: var(--color-neutral-darkest);

  a:not(.btn) {
    color: var(--color-neutral-lightest);
  }

  hr {
    color: var(--color-neutral-300);
  }

  .text-primary {
    color: var(--color-primary-400) !important;
  }

  code, .code, pre code, kbd, samp {
    color: var(--color-primary-400) !important;
  }

  figcaption {
    color: var(--color-neutral-400) !important;
  }

  footer {
    border-top-color: var(--color-neutral-800);
    background-color: var(--color-neutral-1000);
  }

  .footer-social a {
    color: var(--color-neutral-lightest);
  }

  .navbar-glass {
    color: var(--color-neutral-lightest);
  }
  
  .navbar-glass .btn {
    color: var(--color-neutral-lightest);
  }

  .navbar-glass a:hover,
  .navbar-glass .btn:hover,
  .navbar-glass .btn:active {
    color: var(--color-neutral-lightest);
    background-color: var(--color-neutral-900);
  }

  .glass-inner {
    background: transparent;
    box-shadow: 0 0 24px 0 rgba(0,0,0,0.48);
    border: 1px solid var(--color-neutral-900);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
    border-radius: 12px;
    padding: 0;
  }
  
  .glass-filter {
    z-index: 0;
    backdrop-filter: blur(6px);
    filter: url(#lensFilter) saturate(111%) brightness(.56);
  }
  
  .glass-overlay {
    z-index: 1;
    background: rgba(0, 0, 0, 0.25);
  }
  
  .glass-specular {
    z-index: 2;
    border: 1px solid var(--color-neutral-900);
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.0),
      inset 0 0 6px rgba(255, 255, 255, 0.0);
  }

  .breadcrumb {
    color: var(--color-neutral-500);
  }

  .divider {
    border-bottom: 1px solid var(--color-neutral-800);
  }

  .portfolio-post img {
    border: none;
  }

  .blog-card {
    border-bottom: 1px solid var(--color-neutral-800);
  }

  blockquote, pre {
    background-color: var(--color-neutral-900);
  }

  .btn-outline-dark {
    color: var(--color-neutral-lightest);
    border-color: var(--color-neutral-lightest);
    background-color: transparent;
  }

  .btn-outline-dark:hover {
    color: var(--color-neutral-darkest);
    border-color: var(--color-neutral-lightest);
    background-color: var(--color-neutral-lightest);
  }

  .btn-primary:disabled, .btn-primary.disabled {
    opacity: 1;
  }

  .btn-govos-primary {
    box-shadow: 0 0 0 0 !important;
    border: 1px solid var(--color-primary-600) !important;
  }

  .btn-govos-primary:hover {
    box-shadow: 0 0 0 0 !important;
    background-color: var(--color-primary-700) !important;
    border: 1px solid var(--color-primary-700) !important;
  }

  .btn-govos-neutral {
    color: var(--color-neutral-lightest);
    background-color: var(--color-neutral-darkest);
    border: 1px solid var(--color-neutral-500);
  }
  
  .btn-govos-neutral:hover {  
    background-color: var(--color-neutral-900) !important;
    color: var(--color-neutral-lightest) !important;
    border: 1px solid var(--color-neutral-500) !important;
  }

  .jobs img, img.oam, img.logo {
    filter: brightness(0) invert(1);
  }

  img.logo-govos {
    content: url('../images/govos-logo-dark.svg');
  }

  .portfolio img {
    border: none;
  }

  .case-study {
    border-top: 1px solid var(--color-neutral-800);
    border-bottom: 1px solid var(--color-neutral-800);
  }
  
  .case-study.govos {
    background-color: var(--color-neutral-1000);
  }

  .case-study.neutral {
    border-top: none;
    background-color: var(--color-neutral-1000);
  }

  img.govos-components {
    content: url('../images/govos-design-system-casestudy-dark.webp');
  }

  img.govos-patterns {
    content: url('../images/govos-design-system-casestudy-design-patterns-dark.webp');
  }
  
  .case-study.nielsen {
    border-top: none;
    background-color: var(--color-neutral-1000);
  }

  .case-study.nielsen img {
    content: url('../images/nielsen-design-system-casestudy-dark.webp');
  }
}