@font-face {
  font-family: 'Source Sans 3';
  src: url('../fonts/SourceSans3-VariableFont_wght.ttf') format('truetype');
  font-weight: 416 600 720;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('../fonts/SourceSerif4-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 848;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}