// Benton Sans
@font-face {
    font-family: 'Benton Sans';
    src: url('../fonts/BentonSans-Book.eot');
    src: url('../fonts/BentonSans-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BentonSans-Book.woff2') format('woff2'),
        url('../fonts/BentonSans-Book.woff') format('woff'),
        url('../fonts/BentonSans-Book.ttf') format('truetype'),
        url('../fonts/BentonSans-Book.svg#BentonSans-Book') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Benton Sans';
    src: url('../fonts/BentonSans-Regular.eot');
    src: url('../fonts/BentonSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BentonSans-Regular.woff2') format('woff2'),
        url('../fonts/BentonSans-Regular.woff') format('woff'),
        url('../fonts/BentonSans-Regular.ttf') format('truetype'),
        url('../fonts/BentonSans-Regular.svg#BentonSans-Regular') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Benton Sans';
    src: url('../fonts/BentonSans-Semibold.eot');
    src: url('../fonts/BentonSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BentonSans-Semibold.woff2') format('woff2'),
        url('../fonts/BentonSans-Semibold.woff') format('woff'),
        url('../fonts/BentonSans-Semibold.ttf') format('truetype'),
        url('../fonts/BentonSans-Semibold.svg#BentonSans-Semibold') format('svg');
    font-weight: 700;
    font-style: normal;
}

// Tiempos Text
@font-face {
    font-family: 'Tiempos Text';
    src: url('../fonts/TiemposText-Semibold.eot');
    src: url('../fonts/TiemposText-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TiemposText-Semibold.woff2') format('woff2'),
        url('../fonts/TiemposText-Semibold.woff') format('woff'),
        url('../fonts/TiemposText-Semibold.ttf') format('truetype'),
        url('../fonts/TiemposText-Semibold.svg#BentonSans-Black') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Text';
    src: url('../fonts/TiemposText-SemiboldItalic.eot');
    src: url('../fonts/TiemposText-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TiemposText-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/TiemposText-SemiboldItalic.woff') format('woff'),
        url('../fonts/TiemposText-SemiboldItalic.ttf') format('truetype'),
        url('../fonts/TiemposText-SemiboldItalic.svg#BentonSans-Black') format('svg');
    font-weight: 700;
    font-style: italic;
}